@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "semantic-ui-css/semantic.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@import "react-slideshow-image/dist/styles.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0px;
}
// NAVBAR
.logo-nav{
  display: flex;
  justify-content: center;
}
.ui.borderless.menu {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 45px;
  font-size: 20px;
}
.item{
  font-size: 20px;
}

// HOME
.slider{
  height: 50vh;
}
// .slider-container{
//   height: 300px;
//   width: 300px;
// }

.each-slide > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.slide-image{
  height: 300px;
  width: 300px;
}

// PLANT INDEX
.ui.four.column.grid.cards{
  margin: 10px;
}
.ui.link.cards{
  font-family: 'Comfortaa', cursive;
}
.avg-price{
  color: black;
  font-family: 'Comfortaa', cursive;
}
// IMAGE ON HOVER SHOW DESCRIPTION
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(22, 95, 78, 0.6);
}
.image.card-hover:hover .overlay {
  opacity: 1;
}
.description {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 2px;
  font-size: 19px;
  position: absolute;
  top: 50%;
  margin-left: 140px;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Quicksand';
}
.extra.content{
  font-family: 'Quicksand';

}
.post-field{
  display:none;
}